./web/node_modules
.DS_Store
./web/dist
./web/dist-ssr
./web/dist.zip
./web/dist.tar
./web/dist.war
.nitro
.output
*-dist.zip
*-dist.tar
*-dist.war
coverage
*.local
**/.vitepress/cache
./web/.cache
./web/.turbo
./web/.temp
./web/dev-dist
./web/.stylelintcache
./web/yarn.lock
./web/package-lock.json
.VSCodeCounter
**/backend-mock/data

# local env files
./web/.env.local
./web/.env.*.local
./web/.eslintcache

./web/logs
*.log
./web/npm-debug.log*
./web/yarn-debug.log*
./web/yarn-error.log*
./web/pnpm-debug.log*
./web/lerna-debug.log*
./web/vite.config.mts.*
./web/vite.config.mjs.*
./web/vite.config.js.*
./web/vite.config.ts.*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history
.cursor



./backend-django/venv
./backend-django/.idea/
./backend-django/static/
./backend-django/.venv/
./backend-django/logs/
*/migrations/

./windsurf/rules
/.windsurf/rules/web.md
/docs/
*/*.md/
